/* RESET */
* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

/* VARIABLES */
html {
  --black: #0d114f;
  --white: #fafafa;
  --red: #e83f5b;
  --light-blue: #e0ecff;
  --blue: #3485ff;
  --background: #fbfcff;
  --overlay: #040911;
  --icons-details: #a5b0c1;

  --grey-dark: #4d5e77;
  --grey-blue: #a1b2cd;
  --grey-light: #e5eaf1;
  --grey-medium: #eaecf2;

  /* 1 rem = 16 px = 100% (user agent = padronizado pelo google) */
  font-size: 62.5%; /* Redefininco o U.A. da pg de 16px para 10px */
}

body {
  height: 100vh; /*vh = view height = 100% de altura da tela "sem rolagem"*/
  background: var(--background);
  display: flex;
}

body,
button,
input,
textarea {
  /* clamp text = minimo da letra 14px, padrao 1.6rem, maximo 2vw */
  font-size: clamp(14px, 1.6rem, 2vw);
  font-family: 'Open Sans', sans-serif;
  /*font-family: 'Poppins', sans-serif;*/
}

.content {
  width: 100%;
  margin: 0 auto; /* 0 Top, 0 Bottom, Auto LEFT, Auto RIGHT */
}

/* Screen Only = pré escrito no boostrap para label  */
.sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* input and buttons */
input,
button,
.button {
  border-radius: 0.8rem;
  height: 5rem;
}

button,
.button {
  font-family: 'Poppins';
  font-weight: 500;
  line-height: 0;

  display: flex;
  align-items: center; /* alinhando do top to botton */
  justify-content: center; /* alinhando no meio do button */

  background: var(--blue);
  color: var(--white);

  transition: filter 0.2s; /* ja especificando em que é a transition */

  cursor: pointer;
}

button:hover,
.button:hover {
  filter: brightness(1.2); /* clarear :hover */
}

button > img,
.button > img {
  margin-right: 1rem;
  width: 2rem;
}

button.outlined,
.button.outlined {
  background: var(--white);
  color: var(--blue); /* cor do texto do button */
  border: 0.2rem solid var(--blue); /* colocando cor na borda = (tam), (fixa), (cor) */
}

button.red,
.button.red {
  background: var(--red);
  color: var(--white);
}

button.grey,
.button.grey {
  background: var(--grey-light);
  color: var(--grey-dark);
}

/* header */

.content header {
  width: 80%;
  margin: 3.5rem auto; /* 3.5rem top & bottom, auto nas laterais */
}

.content header img {
  width: 16.7rem; /* taanho da img */
}
